#addFoodForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	z-index: 2;
	gap: 10px;
	padding: 20px;
	width: fit-content;
	background: #c0eed3;
}
#addFoodForm > h2{
	font-size: 20px;
	font-weight: 900;
}

#addFoodForm > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
}
#addFoodForm div input, #addFoodForm div select{
	width: 100%;
	border: none;
	border-radius: 10px;
}
#addFoodForm #isRecomended input{
	width: 15px;
}

#modalButtonDiv {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	gap: 20px;
}

#modalButtonDiv button{
	width: 100%;
}